.products{
    width:70% ;
    height: auto;
    margin:50px auto ;
    &__list__item{
        padding:10px ;
    }
    &__list__item__content{
        &__title{
            color:rgb(155, 153, 153) ;
            height: 60px;
            overflow: hidden ;
            text-transform:uppercase ;
        }
    }

}
.btn--cart{
    width:80% ;
    background : linear-gradient(to bottom , rgb(253, 135, 120) , rgb(255, 94, 0)) ;
    font-size : 20px ;
    display: block;
    margin:auto ;
}