.menu{
    width:100% ;
    height: auto;
    background : inherit ;
}
.menu ul li{
    float:left ;
}
.menu ul li a{
    padding:0px 10px ;
    display: block;
    float:left ;
    color:white ;
    text-decoration: none;
}
